@model IEnumerable<PaperStore.WareHouseData.CurrentStock>

@{
    ViewData["Title"] = "Strona główna";
}

<h1>Wykaz dostępnych towarów</h1>
@ViewBag.ActionMessage
<p>
    <a asp-action="ChooseCompany"><input type="submit" value="Dodaj" class="btn btn-outline-success" /></a>
</p>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nazwa produktu")
            </th>
            <th>
                @Html.DisplayName("Informacja dodatkowa")
            </th>
            <th>
                @Html.DisplayName("Ilość")
            </th>
            <th>
                @Html.DisplayName("Dostępne akcje")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNameNavigation.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddtionalInfoNavigation.AdditionalInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    <a asp-action="UpdateItem" asp-route-Id="@item.Id"><input type="submit" value="Zmień" class="btn btn-outline-warning" /></a>
                    <a asp-action="ItemsDetails" asp-route-Id="@item.Id"><input type="submit" value="Szczegóły" class="btn btn-outline-info" /></a>
                    <a asp-action="DeleteItem" asp-route-Id="@item.Id"><input type="submit" value="Usuń" class="btn btn-outline-danger" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
