@model PaperStore.WareHouseData.CurrentStock

@{
    ViewData["Title"] = "Szczegóły towaru";

    string IsArchive = @Model.Archive == false ? "Nie" : "Tak";
    string IsCompanyValid = string.Empty;
    if (string.IsNullOrEmpty(@Model.ProductNameNavigation.Company.CompanyName) || (bool)@Model.ProductNameNavigation.Company.IsArchive)
        IsCompanyValid = @ViewBag.NoCompanyAttach;

}

<h2>Szczegóły towaru</h2>
<h1>@IsCompanyValid</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Nazwa")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNameNavigation.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Firma")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductNameNavigation.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Dodatkowe informacje")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddtionalInfoNavigation.AdditionalInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data dodania")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data zmiany")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Czy archiwalny?")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayName(IsArchive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Ilość")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UpdateItem" asp-route-id="@Model?.Id"> <input type="submit" value="Zmień" class="btn btn-outline-warning" /></a>
    <a asp-action="Index"> <input type="submit" value="Wróć do listy" class="btn btn-outline-info" /></a>
</div>
