@model PaperStore.WareHouseData.CurrentStock

@{
    ViewData["Title"] = "ItemsDetails";
    
    var IsArchive = @Model.Archive == false ? "Nie" : "Tak";


}

<h1>ItemsDetails</h1>

<div>
    <h4>CurrentStock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Nazwa")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Dodatkowe informacje")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddtionalInfoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data dodania")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Data zmiany")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Czy archiwalny?")
        </dt>
        <dd class = "col-sm-10">
            @Html.Label(IsArchive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Ilość")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UpdateItem" asp-route-id="@Model?.Id"> <input type="submit" value="Zmień" class="btn btn-outline-warning" /></a>
    <a asp-action="Index"> <input type="submit" value="Wróć do listy" class="btn btn-outline-info" /></a>
</div>
