<h2>Opcje główne programu, obsługującego GUS</h2>


<dl class="row">

    <dt class="col-sm-2">
        @Html.Label("Podmioty")
    </dt>
    <dd class="col-sm-10">
        @Html.ActionLink("Pobierz", "InsertDaneSzukajPodmioty")
    </dd>
    <dt class="col-sm-2">
        @Html.Label("Pełny raport")
    </dt>
    <dd class="col-sm-10">
        @Html.ActionLink("Pobierz", "InsertPelnyRaport")
    </dd>
    <dt class="col-sm-2">
        @Html.Label("Zbiorczy raport")
    </dt>
    <dd class="col-sm-10">
        @Html.ActionLink("Pobierz", "InsertRaportZbiorczy")
    </dd>
</dl>