@model IEnumerable<CEIDGASPNetCore.DbModel.Gusvalue>

@{
    ViewData["Title"] = "Wybrane raporty";

    @using (Html.BeginForm("ViewRaportByDateAndType", "CEIDG", FormMethod.Post))
    {
        <input type="date" name="RaportDate">
        @Html.DropDownList("RaportType", new SelectList(ViewBag.RaportTypeTable, "RaportType", "RaportTypeName"))
        <input type="submit" value="Wybierz">
    } 

}
<h1>Wybrane raporty</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Zawartość raportu")
            </th>
            <th>
                @Html.Label("Data raportu")
            </th>
            <th>
                @Html.Label("Typ raportu")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Xmlvalues)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaportType)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="AllShowItemsViews">Wróć do menu</a>
</div>