@model CEIDGASPNetCore.DbModel.Gusvalue

@{
    ViewData["Title"] = "Ostatni raport";
}

<h1>Ostatni raport</h1>

@{
    string FormatStatus = "Zawartość na ";
    ViewBag.IsJSON = !ViewBag.IsJSON;
    FormatStatus += Convert.ToBoolean(ViewBag.IsJSON) ? "JSON" : "XML";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Zawartość raportu");
            <a asp-action="ViewLastRaport" asp-route-SetJSONFormat="@ViewBag.IsJSON">@FormatStatus</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xmlvalues)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Data raportu")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportDate)
            <a asp-action="UpdateRaportData" asp-route-Id="@Model.Id">Zmień datę</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Typ raportu")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaportType)
        </dd>
        <dt class="col-sm-2">
            <a asp-action="DeleteRaportById" asp-route-Id="@Model.Id" asp-route-controllerChoose="2"><b>Usuń ten rekord</b></a>
        </dt>
    </dl>
</div>
<div>
    <a asp-action="AllShowItemsViews">Wróć do menu</a>
</div>
